<center class = "col-md-4 mx-auto mt-4">
<h1 class="text-secondary mt-2">Log in</h1>
<%= form_for :session, url: login_path do |f| %>
    <div>
   <%= f.text_field :name, placeholder: 'Your user name here' , class: "form-control" %>
    </div>
  <div class="mt-2">
  <%= f.submit "Log in" , class: "btn btn-primary form-control" %>
  </div>
 
<% end %></br>
<%= link_to "Sign up", new_user_path , class: "form-control" %>
</center>