<div class="container mt-2">
    <h3 class="text-secondary">Editing Article</h3>
    <%= permit_update(@article) %>
    <%= link_to 'Show', @article, class: "btn btn-info mt-2" %> 
    <%= link_to 'Back', articles_path, class: "btn btn-secondary mt-2" %>
</div>
