<div class="container mt-2">
    <h3 class="text-secondary">New Article</h3>
    <%= render 'form', article: @article %>
    <%= link_to 'Back', articles_path, class: "btn btn-secondary mt-2" %>
</div>
