/* Place all the styles related to the Users controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: https://sass-lang.com/
*/

#error_explanation h2 {
    color: #666;
    font-weight: bold;
}

#error_explanation ul li {
    color: #922;
}
