<div class="d-flex">
    <div class="background-image border col-md-8 position-relative d-flex main-article" style="background-color: #666 ; height: 360px; background-position: center;">
        <div class="position-absolute desc">
            <h6 class="main-heading"> 
                Hey <%= user_logged %>
            </h6>
            <h6 class="text-white"> 
                No Articles have bee created yet !!
                Please go ahead and Create some Articles and Categories
            </h6> 
        </div>
    </div>
    <div class="category-button">
        <%= new_category %>
    </div>
</div>