<div class="col-md-3 px-0">
    <%= link_to category_path(category) do %>
        <div class="background-image border col-md-12 position-relative d-flex category-file" style="background-color: #666 ; height: 188px; background-position: center;">
            <div class="text-white title title-name">
                <p class="mt-2">
                <%= any_category(category) %>
                </p>
            </div>
            <div class="position-absolute text-white title">
                <span>
                Add an Article to this category!!!
                </span>
            </div>
        </div>
    <% end %>
</div>