<div class="container mt-2">
    <h3 class="text-secondary">New Category</h3>

    <%= render 'form', category: @category %>

    <%= link_to 'Back', categories_path, class: "btn btn-secondary mt-2" %>
</div>